/*estilos para la barra de scroll;*/
#Padre::-webkit-scrollbar{
	width: 12px;
	background:#efefef;

}
#Padre::-webkit-scrollbar-thumb{

	background:pink;
	border-radius: 15px;

}
/* estilos para el conntenedor padre de toda la página*/
#Padre{
	background: #FCF1E4;
	font-family: 'Poppins', sans-serif;
}
/* estilos para el título*/
#Titulo_principal {
	display: flex;
  width: 100%;
  height: 55vh;
 align-items: center;
 justify-content: center;
	background-repeat: no-repeat;
	font-size:45px;
	color: white;
}
/* estilos para los párrafos*/
 .parrafo2, .parrafo3 {
 	display: flex;
 	flex-direction: column; 
	width: 600px;
	height: 450px;
	justify-content: center;
	text-align: center;
}
.parrafo1 {
	width: 500px;
	height: 300px;
	padding:4%;
    justify-content: center;
	text-align: center;
	background-color: #F7EEE0; }

.parrafo1 h2 {
		color:#FF5D5D; 
	}
 .parrafo2 {
 	background-color: #5a2bd1;
 	color:#F7EEE0; 
 	padding:4%;
 }
 .parrafo2 h2 {
 	color: white;
 }
 .parrafo3 h2 {
 	color: white;
 }
 .parrafo3{
 	background-color: #FF5D5D;
 	padding:4%;
 }
    /*estos son los estilos para los contenedores de los parrafos */
#parrafo2{
	display: flex;
	width: 94%;
	justify-content: flex-end;
	
}
#parrafo1, #parrafo2, #parrafo3{
	background-repeat: no-repeat;
	background-size: cover;
	padding: 3%;
}
   /*estos son los estilos para el contenedor de tos los párrafos*/
#Contenido{
margin: 5%;
}
/*Transisiones*/
.slideRight{
    animation-name: llegadaDerecha;
    animation-duration: 5s;
 }

 .slideLeft{
    animation-name: llegadaIzquierda;
    animation-duration: 5s;
 }


/* animación llegada derecha*/

@keyframes llegadaDerecha {
    0%{
        opacity: 0;
        transform: translateX(1000px);
    }
    60%{
        opacity: 0.6;
       transform:translateX(-80px);
    }
    80%{
        opacity: 0.8;
        transform:translateX(15px);
    }
    100%{
        opacity: 1;
        transform:translateX(0px);
    }

}

/* animación llegada izquierda*/

@keyframes llegadaIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-1000px);
    }
    60%{
        opacity: 0.8;
       transform:translateX(80px);
    }
    80%{
        opacity: 0.9;
        transform:translateX(-15px);
    }
    100%{
        opacity: 1;
        transform:translateX(0px);
    }

}
   /*estilos para los responsivos*/
@media screen and (min-width:801px) and (max-width:1025px) {
#Titulo_principal {
	background-repeat: no-repeat;
	background-size: cover;
  height: 20vh;

}
}
@media screen and (min-width:421px) and (max-width:800px) {
#Titulo_principal {
	font-size:16px;
	background-repeat: no-repeat;
	background-size: cover;
}
.parrafo1, .parrafo2, .parrafo3 {
	width: 300px;
	height: 250px;
	font-size: 8px;
}
#parrafo1{
	padding: 10%;
	text-align: center;
	justify-content: center;
	align-items: center;

}
}
@media screen and (min-width:375px) and (max-width:420px){
	#Titulo_principal {
	font-size: 16px;
	background-repeat: no-repeat;
	background-size: cover;
}
 .parrafo1, .parrafo2, .parrafo3 {
	width: 300px;
	height: 250px;
	font-size: 8px;
}

}
@media screen and (min-width:200px) and (max-width:374px){
	#Titulo_principal {
	font-size: 16px;
	 background-repeat: no-repeat;
	background-size: cover;
}
 .parrafo1, .parrafo2, .parrafo3 {
	width: 320px;
	height: 250px;
	font-size: 8px;
}

}