/*estos son los estilos para el contenedor padre*/
.padre_inicio{
    display: grid;
    width: 100%;
    height: 100vh;
    background-color: black;
   grid-template-columns:  50% 50%;

}

/*estos son los estilos para el contenedor de la segunda columna todo lo que tiene que ver con  la sección derecha*/

.column2{
	grid-template-rows: 50% 50%;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
/*estos son los estilos para el título de bienvenidos*/

.titulo{
font-size: 40px;
color:violet;
margin: 1%;
}
/*estos son los estilos para la imagen de logo*/

.padre_inicio img{
	width: 230px;
	height:320px;
}
/*estos son los estilos para los botones*/

.container
{margin:10px;display: inline;position:relative;transform:translate(-50%,-50%)}
.btn
{position:relative;display:inline-block;width:277px;height:50px;line-height:60px;text-align:center;text-transform:uppercase;background-color:transparent;cursor:pointer;text-decoration:none;font-family:Roboto,sans-serif;font-weight:900;font-size:17px;letter-spacing:.045em}
.btn svg
{position:absolute;top:0;left:0}
.btn svg rect
{//stroke:#EC0033;stroke-width:4;stroke-dasharray:353,0;stroke-dashoffset:0;-webkit-transition:all 600ms ease;transition:all 600ms ease}
.btn span
{background:#ff8282;background:-moz-linear-gradient(left,rgba(255,130,130,1) 0,rgba(225,120,237,1) 100%);background:-webkit-linear-gradient(left,rgba(255,130,130,1) 0,rgba(225,120,237,1) 100%);background:linear-gradient(to right,rgba(255,130,130,1) 0,rgba(225,120,237,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8282', endColorstr='#e178ed', GradientType=1);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.btn:hover svg rect
{stroke-width:4;stroke-dasharray:196,543;stroke-dashoffset:437}

/*estos son los estilos para los responsivos*/


@media screen and (min-width:801px) and (max-width:1025px) {
	.padre_inicio{
   display: grid;
   grid-template-columns:  auto;

}

}
@media screen and (min-width:421px) and (max-width:800px) {
.padre_inicio{
   display: grid;
   grid-template-columns:  auto;

}

}
@media screen and (min-width:375px) and (max-width:420px){
	
.padre_inicio{
   display: grid;
    height: 130vh;
   grid-template-columns:  auto;

}
}
@media screen and (min-width:200px) and (max-width:374px){
	.padre_inicio{
   display: grid;
    width: 130vw;
    height: 130vh;

   grid-template-columns:  auto;

}
 .column2{
	grid-template-rows: 20% 80%;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}
.padre_inicio img{
	width: 200px;
	height:220px;
}
.btn
{position:relative;display:block;width:150px;height:25px;line-height:60px;text-align:center;text-transform:uppercase;background-color:transparent;cursor:pointer;text-decoration:none;font-family:Roboto,sans-serif;font-weight:900;font-size:7px;letter-spacing:.045em}
.container
{ margin:10px;display: inline;position:relative;transform:translate(-50%,-50%)}
}