
.padre_inicio{
    display: grid;
    width: 100%;
    height: 100vh;
    background-color: black;
   grid-template-columns:  50% 50%;

}


.column2{
	grid-template-rows: 50% 50%;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.titulo{
font-size: 40px;
color:violet;
margin: 1%;
}

.padre_inicio img{
	width: 230px;
	height:320px;
}
.container
{margin:10px;display: inline;position:relative;transform:translate(-50%,-50%)}
.btn
{position:relative;display:inline-block;width:277px;height:50px;line-height:60px;text-align:center;text-transform:uppercase;background-color:transparent;cursor:pointer;text-decoration:none;font-family:Roboto,sans-serif;font-weight:900;font-size:17px;letter-spacing:.045em}
.btn svg
{position:absolute;top:0;left:0}
.btn svg rect
{//stroke:#EC0033;stroke-width:4;stroke-dasharray:353,0;stroke-dashoffset:0;-webkit-transition:all 600ms ease;transition:all 600ms ease}
.btn span
{background:#ff8282;background:-moz-linear-gradient(left,rgba(255,130,130,1) 0,rgba(225,120,237,1) 100%);background:-webkit-linear-gradient(left,rgba(255,130,130,1) 0,rgba(225,120,237,1) 100%);background:linear-gradient(to right,rgba(255,130,130,1) 0,rgba(225,120,237,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8282', endColorstr='#e178ed', GradientType=1);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.btn:hover svg rect
{stroke-width:4;stroke-dasharray:196,543;stroke-dashoffset:437}



@media screen and (min-width:421px) and (max-width:800px) {
   
    
}
@media screen and (min-width:375px) and (max-width:420px){

   .titulo{
font-size: 20px;
margin: 0.5%;
}
.column2{

    margin-top: 5%;
}
.padre_inicio img{
	width: 115px;
	height:160px;
}
.container
{margin:5px;}
.btn {
	width:277px;height:50px;
    }
}
