#Contenido_parrafos{
	margin: 4%;
}
.contenedor_carta {
	height: 250px;
  width: 350px;
  margin: auto;
  -webkit-perspective: 700;
}
.contenedor_carta img{
	width: 100%;
	height: 100%;
	border-radius: 47%;
}
 .carta{
 	height: 100%;
 	width: 100%;
 	position: relative;
 	transform-style: preserve-3d;
 	transition: 2s;

}
.carta:hover {
	transform: rotateY(180deg);
}
.lado {
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	position: absolute;
}


.atras{
	border-radius: 47%;
	background-image: radial-gradient(circle at 50% 120.71%, #883f6f 0, #7a316e 12.5%, #69236d 25%, #54156b 37.5%, #37086a 50%, #000469 62.5%, #000268 75%, #000068 87.5%, #000067 100%);
	transform: rotateY(180deg);
	
}
#parrafo_1, #parrafo_2 , #parrafo_3{
	display: grid;
	grid-template-columns: 50% 50%;
	background-color: pink;
	padding:5%;
    text-align: left;
}
